<%- include("./partials/header") %>



  <body> 
<style>

/* -------------------------------------------------------Header----------------------------------------------------------------- */


    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
      }
      /* custom scroll bar */
      ::-webkit-scrollbar {
          width: 10px;
      }
      ::-webkit-scrollbar-track {
          background: #f1f1f1;
      }
      ::-webkit-scrollbar-thumb {
          background: #888;
      }
      ::selection{
        background: rgb(0,123,255,0.3);
      }
      .content{
        max-width: 1250px;
        margin: auto;
        padding: 0 30px;
      }
      .navbar{
        position: fixed;
        width: 100%;
        z-index: 2;
        padding: 25px 0;
        transition: all 0.3s ease;
      }
      .navbar.sticky{
        background: #1b1b1b;
        padding: 10px 0;
        box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
      }
      .navbar .content{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .navbar .logo a{
        
        color: rgb(243, 213, 199);
        font-size: 30px;
        font-weight: 600;
        text-decoration: none;
      }
      .navbar .menu-list{
        display: inline-flex;
      }
      .menu-list li{
        list-style: none;
      }
      .menu-list li a{
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        margin-left: 25px;
        text-decoration: none;
        transition: all 0.3s ease;
      }
      .menu-list li a:hover{
        color: #007bff;
      }
      
      .banner{
        background: url("https://i.postimg.cc/Kv3LJnnm/bg1.jpg") no-repeat;  
        height: 900px;
        
        background-size: cover;
        background-position: center;
        /* background-attachment: fixed;  */
      }
      .about{
        padding: 30px 0;
      }
      .about .title{
        font-size: 38px;
        font-weight: 700;
      }
      .about p{
        padding-top: 20px;
        text-align: justify;
      }
      .icon{
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        display: none;
      }
      .menu-list .cancel-btn{
        position: absolute;
        right: 30px;
        top: 20px;
      }
      @media (max-width: 1230px) {
        .content{
          padding: 0 60px;
        }
      }
      @media (max-width: 1100px) {
        .content{
          padding: 0 40px;
        }
      }
      @media (max-width: 900px) {
        .content{
          padding: 0 30px;
        }
      }
      @media (max-width: 868px) {
        body.disabled{
          overflow: hidden;
        }
        .icon{
          display: block;
        }
        .icon.hide{
          display: none;
        }
        .navbar .menu-list{
          position: fixed;
          height: 100vh;
          width: 100%;
          max-width: 400px;
          left: -100%;
          top: 0px;
          display: block;
          padding: 40px 0;
          text-align: center;
          background: #222;
          transition: all 0.3s ease;
        }
        .navbar.show .menu-list{
          left: 0%;
        }
        .navbar .menu-list li{
          margin-top: 45px;
        }
        .navbar .menu-list li a{
          font-size: 23px;
          margin-left: -100%;
          transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
        .navbar.show .menu-list li a{
          margin-left: 0px;
        }
      }
      @media (max-width: 380px) {
        .navbar .logo a{
          font-size: 27px;
        }
      }
       
      .dropdown {
        float: left;
        overflow: hidden;
        margin-top: -15px;
        
      }
      .dropdown .dropbtn {
        font-size: 18px;
        font-weight: 500;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin:0;
      }
      
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #3460db;
        min-width: 120px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      /* Links inside the dropdown */
      .dropdown-content a {
        float: none;
        color: rgb(212, 192, 192);
         padding: 12px 16px; 
        text-decoration: none;
         display: block; 
        text-align: left;
      }
      
     
      .dropdown-content a:hover {
        background-color: rgb(4, 8, 20);
      }
      
      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown-content {
         display: block; 
      }
      
      
      
      /* -----------------------------------------about------------------------- */
      
      .About
      {
        padding: 40px;
        background-color: #000;
        color: #f1f1f1;
        margin-top: -50px;
      }
      
      
      
      
      
      /* ----------------------------------footer--------------------- */
      
      .site-footer
      {
        background-color:#26272b;
        padding:45px 0 20px;
        font-size:15px;
        line-height:24px;
        color:#737373;
      }
      .site-footer hr
      {
        border-top-color:#bbb;
        opacity:0.5
      }
      .site-footer hr.small
      {
        margin:20px 0
      }
      .site-footer h6
      {
        color:#fff;
        font-size:16px;
        text-transform:uppercase;
        margin-top:5px;
        letter-spacing:2px
      }
      .site-footer a
      {
        color:#737373;
      }
      .site-footer a:hover
      {
        color:#3366cc;
        text-decoration:none;
      }
      .footer-links
      {
        padding-left:0;
        list-style:none
      }
      .footer-links li
      {
        display:block
      }
      .footer-links a
      {
        color:#737373
      }
      .footer-links a:active,.footer-links a:focus,.footer-links a:hover
      {
        color:#3366cc;
        text-decoration:none;
      }
      .footer-links.inline li
      {
        display:inline-block
      }
      .site-footer .social-icons
      {
        text-align:right
      }
      .site-footer .social-icons a
      {
        width:40px;
        height:40px;
        line-height:40px;
        margin-left:6px;
        margin-right:0;
        border-radius:100%;
        background-color:#33353d
      }
      .copyright-text
      {
        margin:0
      }
      @media (max-width:991px)
      {
        .site-footer [class^=col-]
        {
          margin-bottom:30px
        }
      }
      @media (max-width:767px)
      {
        .site-footer
        {
          padding-bottom:0
        }
        .site-footer .copyright-text,.site-footer .social-icons
        {
          text-align:center
        }
      }
      .social-icons
      {
        padding-left:0;
        margin-bottom:0;
        list-style:none
      }
      .social-icons li
      {
        display:inline-block;
        margin-bottom:4px
      }
      .social-icons li.title
      {
        margin-right:15px;
        text-transform:uppercase;
        color:#96a2b2;
        font-weight:700;
        font-size:13px
      }
      .social-icons a{
        background-color:#eceeef;
        color:#818a91;
        font-size:16px;
        display:inline-block;
        line-height:44px;
        width:44px;
        height:44px;
        text-align:center;
        margin-right:8px;
        border-radius:100%;
        -webkit-transition:all .2s linear;
        -o-transition:all .2s linear;
        transition:all .2s linear
      }
      .social-icons a:active,.social-icons a:focus,.social-icons a:hover
      {
        color:#fff;
        background-color:#29aafe
      }
      .social-icons.size-sm a
      {
        line-height:34px;
        height:34px;
        width:34px;
        font-size:14px
      }
      .social-icons a.facebook:hover
      {
        background-color:#3b5998
      }
      .social-icons a.twitter:hover
      {
        background-color:#00aced
      }
      .social-icons a.linkedin:hover
      {
        background-color:#007bb6
      }
      .social-icons a.dribbble:hover
      {
        background-color:#ea4c89
      }
      @media (max-width:767px)
      {
        .social-icons li.title
        {
          display:block;
          margin-right:0;
          font-weight:600
        }
      }
       </style>

      
    <!-- ------------------------------------------------Navbar----------------------------------------------------------------------------- -->


      <nav class="navbar" id="link">
        <div class="content">
          <div class="logo">
            <a href="#">Back To School</a>
          </div>
          <ul class="menu-list">
            <div class="icon cancel-btn">
              <i class="fas fa-times"></i>
            </div>
            <li>
            <li><a href="#">Home</a></li>
            <li><a href="#About">About Us</a></li>
            <div class="dropdown">
              <ul>
              <li><button class="dropbtn">Contact us 
                <i class="fa fa-caret-down"></i>
              </button> 
              <div class="dropdown-content">
                <a href="lit2021046@iiitl.ac.in">E-mail(1)</a>
                <a href="lit2021023@iiitl.ac.in">E-mail(2)</a>
                <a href="https://www.linkedin.com/in/anushka-tiwari-33b5bb229/">Linked-in</a>
              </div>
              </li>
              </ul>
            </div>
             <li><a href="/login" class="btn btn-primary">Login</a></li>
            <li><a href="/register" class="btn btn-danger">Register</a></li>
          </ul>
    
    
    
          <div class="icon menu-btn">
            <i class="fas fa-bars"></i>
          </div>
        </div>
      </nav>
    
      <div class="banner"></div>
      
      <div class="about">
      
        </div>
        
        </div>
    
      </div>
      <div class="About" id="About">
        <h2 class="ah">About Us</h2>
         <p class="au">
          We at Back to School believe everyone in the world should have a right to free education of the best quality, and hence we bring to our users a quality and comfortable environment for learning.
          Our website targets the secondary and senior secondary curriculum & includes video coverage in various subjects.
          We devote our time and energy to share as much free educational content available on the web as possible. At the same time we give credit to the original content producers .
          Back to School helps learners save time so they can enjoy other things ...like <b>LIFE</b>.
          
         </p>
      </div>
      <div style="margin-top: 10px;">
         <!-- Site footer -->
         <footer class="site-footer">
          <div class="container">
            <div class="row">
           
    <div>
    
              <div class="col-xs-6 col-md-3" style="margin-left: 100px; margin-bottom: 100px;">
                <h6>Categories</h6>
                <ul class="footer-links">
                  <li><a href="/login">Ninth</a></li>
                  <li><a href="/login">Tenth</a></li>
                  <li><a href="/login">Eleventh</a></li>
                  <li><a href="/login">Twelfth</a></li>
                 
                </ul>
              </div>
    
              <div class="col-xs-6 col-md-3" style="margin-top: -220px; margin-left: 500px; margin-bottom: 30px;">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                  <li><a href="#About">About Us</a></li>
                  <li><a href="#link">Contact Us</a></li>
                  <li><a href="#">Contribute</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                
                </ul>
              </div>
            </div>
     </div>       
    </div>
    <hr>
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-sm-6 col-xs-12" style="margin-left: 20px;">
                <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by 
             <a href="#">Back to School</a>.
                </p>
              </div>
    
              <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                  <li><a class="facebook" href="#"><i class="fab fa-facebook-f" ></i></a></li>
                  <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a class="dribbble" href="#"><i class="fab fa-instagram"></i></a></li>
                  <li><a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></li>   
                </ul>
              </div>
            </div>
          </div>
    </footer>
      </div>





    <!-- <-----------------------------------------javascript-------------------------------------------------------- -->




    <script> const body = document.querySelector("body");
      const navbar = document.querySelector(".navbar");
      const menuBtn = document.querySelector(".menu-btn");
      const cancelBtn = document.querySelector(".cancel-btn");
      menuBtn.onclick = ()=>{
        navbar.classList.add("show");
        menuBtn.classList.add("hide");
        body.classList.add("disabled");
      }
      cancelBtn.onclick = ()=>{
        body.classList.remove("disabled");
        navbar.classList.remove("show");
        menuBtn.classList.remove("hide");
        
      }
      window.onscroll = ()=>{
        this.scrollY > 20 ? navbar.classList.add("sticky") : navbar.classList.remove("sticky");
      }
    
    </script>
      
</body> 
<%- include("./partials/footer") %>