<%- include("./partials/header") %>



<!-- --------------------------------------------------------------------------------------------------------------------- -->

<body>
    <style>
     /************** 
    Body css
 ***************/
body {
    margin: 0;
  padding: 0;
  font-family: sans-serif;
  
  background: url("https://i.postimg.cc/Gtzj3nxP/board.jpg") no-repeat;  
  background-size: cover; 
  
}
.box {
  width: 350px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  border: none;
  border-radius: 25px;
  text-align: center;
  opacity: 0.5;
}
h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 5px;
}
/************** 
 Input Fields
***************/
 #email, #password{
  border: 2px solid #0097e6;
  background: none;
  display: block;
  margin: 20px auto;
  padding: 15px 45px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 25px;
  text-align: center;
  transition: 250ms width ease, 250ms border-color ease; 
}
/************** 
   On Hover
***************/
#email:hover, #password:hover{
  width: 220px;
}
/************** 
   On Focus
***************/
#email:focus, #password:focus{
  width: 250px;
  border-color: #6fb98f;
}
/************** 
 Submit Button
***************/
 #submit{
  border: 2px solid #2ecc71;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  padding: 15px 40px;
  outline: none;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 200;
  transition: 250ms background ease;
  -webkit-transition: 250ms background ease;
  -moz-transition: 250ms background ease;
  -o-transition: 250ms background ease;
}
/************** 
   On Hover
***************/
#submit:hover{
  background: #2ecc71;
}


</style>
    <form class="box" action="/register" method="POST" >
        <h1>Register</h1>
        
        <input type="email" name="email" placeholder="Email Address" id="email"  aria-describedby="emailHelp">
        
        <input type="password" name="password" placeholder="password" id="password">
        
        <button type="submit" id="submit">Register</button>
        <p style="color:white;" >Already have Account ?<a style="color:#00bfff;" href="/">_GO BACK</a></p>
      </form>
</body>

<%- include("./partials/footer") %>